<div>
    footer
</div>

<style>
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        background-color: #000000;
        color: #ffffff;
    }
</style>