---
import Contacto from "../Contacto";
---

<section id="emails">
    <div class="contacto">
        <p class="contactoText">
            Recibí emails en los que te recuerdo que dejes de ser <span style="color: red;">cobarde</span>.
        </p>
        <Contacto client:load/>
    </div>
    <div class="logoContainer">
        <img src="/images/2.jpg" alt="">
    </div>
    <div class="logoText">
        <img src="/images/4.png" alt="">
    </div>
    <p>Cobarde. Todos Los Derechos Reservados. Política de privacidad.</p>

</section>

<style>
    section {
        margin-top: 150px;
        background-image: linear-gradient(to bottom,  #161616, rgb(0, 0, 0) 40%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        scroll-margin-top: 100px;
    }
    .contacto{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        height: fit-content;
        width: 1000px;
    }
    .contactoText{
        font-family: 'TightB', sans-serif;
        font-size: 2.6rem;
        width: 35%;
        padding: 0px;
        padding-left: 20px;
        margin: 0px;
    }
    
    .logoContainer{
        height: 500px;
        width: 500px;
    }
    .logoContainer img{
        height: auto;
        width: 100%;
        object-fit: cover;
        object-position: center 80px;
    }
    .logoText{

        height: 100px;
        width: 350px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logoText img{

        height: auto;
        width: 100%;
        object-fit: cover;
        
    }
    p{
        font-family: 'TightR', sans-serif;
        font-size: 0.6rem;
        padding-bottom: 80px;
    }
    @media (max-width: 1024px){
        .contacto{
            width: 90%;
        }
        .contactoText{
            font-size: 2rem;
            width: 40%;
        }
        .logoContainer{
            height: 400px;
            width: 400px;
        }
        .logoText{
            height: 80px;
            width: 300px;
        }
        p{
            font-size: 0.5rem;
            padding-bottom: 60px;
        }
    }
    @media (max-width: 768px){
        .logoContainer{
        height: 200px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .logoContainer img{
        height: 100%;
        width: auto;
        object-fit: cover;
        object-position: center 40px;
    }
    .logoText{

        height: 100px;
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logoText img{

        height: 100%;
        width: 50%;
        object-fit: cover;
        
    }
    p{
        font-size: 0.3rem;
        padding-bottom: 40px;
    }
    
    }
    @media  screen and (max-width: 500px){
        .contacto{
            flex-direction: column;
            align-items: center;
            width: 90%;
        }
        .contactoText{
            width: 90%;
            font-size: 1.5rem;
            padding: 0px;
            padding-left: 20px;
            margin: 0px;
        }
    }
</style>