<nav>
    <div>
        <img src="" alt="">
    </div>
    <ul>
        <li><a href="/">YANINA POLO</a></li>
        <li><a href="/">EMAIL</a></li>
        <li>
            <a href="/">INICIAR SESION</a>
            <a href="">go</a>
        </li>
    </ul>
</nav>

<style>
    nav {
        display: flex;
        justify-content: space-between;
        background-color: #333;
        height: 80px;
    }
    div{
        background-color: red;
        height: 100%;
        width: 200px;
    }

    ul {
        display: flex;
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    li {
    }

    a {
        text-decoration: none;
        color: #ffffff;
    }
</style>