---
import Layout from "../layouts/Layout.astro";
import { IoCloseCircle } from "react-icons/io5";
---

<Layout>
    <div>
      <div class="success">
        <IoCloseCircle size={70} color="red" />
        <h1>Ups! Algo salio mal.</h1>
        <a href="/">Continuar al sitio</a>
      </div>
    </div>
</Layout>

<style>
  div{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
  }
  .success{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    padding: 70px;
    background-color: rgba(0, 0, 0, 0.41);
    border-radius: 20px;
  }
  h1{
    color: white;
    font-family: 'TightBlack', sans-serif;
    font-size: 3rem;
    margin: 0px;
    margin-top: 20px;
  }
  p{
    color: white;
    font-family: 'TightR', sans-serif;
    font-size: 1.5rem;
    margin: 0px;
    margin-bottom: 20px;
  }
  span{
    color: white;
    font-family: 'TightR', sans-serif;
    font-size: 1.5rem;
    margin: 0px;
    margin-top: 80px;
  }
  a{
    text-decoration: none;
    background-color: red;
    color: white;
    padding:4px 15px;
    border-radius: 20px;
    font-family: 'TightB', sans-serif;
    margin-top: 20px;
  }
</style>