.contactoForm {
  background-color: grey;
  background-image: linear-gradient(to right, #aeaeae, #5b5b5b);
  width: 50%;
  height: 430px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  border: 1px solid white;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px 15px;
}
.contactoForm h3 {
  margin: 0px;
  padding-top: 15px;
  width: 90%;
  font-family: "TightSB", sans-serif;
  font-size: 1rem;
}
.contactoForm input {
  height: 30px;
  border-radius: 5px;
  border: none;
  padding-left: 15px;
  font-size: 0.6rem;
}
.contactoForm select {
  height: 30px;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
  font-size: 0.6rem;
}
.contactoForm textarea {
  height: 150px;
  border-radius: 5px;
  border: none;
  padding-left: 15px;
  padding-top: 15px;
  font-size: 0.6rem;
  resize: none;
}
.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.buttons a {
  padding: 7px 15px;
  background-color: red;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  font-family: "TightEB", sans-serif;
  font-size: 0.8rem;
}
.buttons .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border-radius: 100%;
  height: 24px;
  width: 24px;
}

@media screen and (max-width: 768px) {
  .contactoForm {
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .contactoForm {
    margin-top: 40px;
    width: 80%;
  }
}
