---
import heroImage from '../../public/images/hero.png';
import title from '../../public/images/title.png';
import { MdArrowOutward } from "react-icons/md";
---

<section>
    <div class="heroImageContainer">
        <img src={heroImage.src} alt="" class="heroImage">
    </div>
    <div class="titleContainer">
        <img src={title.src} alt="" class="title">
    </div>
    <div class="subtitleContainer">
        <p>Encendé ese poder que tenés dentro y <strong> HACÉ QUE ARDA. </strong></p>
        <div class="buttons">
            <a href="">AGENDÁ UNA REUNIÓN CONMIGO</a>
            <a href="" class="arrow"><MdArrowOutward/></a>
        </div>
    </div>
</section>

<style>
    section{
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
    .heroImageContainer{
        width: 100%;
        height: 55vh;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .heroImage{
        height: 100%;
        width: auto;
        object-fit: cover;
        object-position: top;
        

        
    }
    .titleContainer{
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
    }   
    .title{
        height: auto;
        width: 60%;
    }
    .subtitleContainer{
        background-color: black;
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        font-family: 'TightR', sans-serif;
    }
    .subtitleContainer strong{
        font-family: 'TightBlack', sans-serif;
    }

    .buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0px;
    }
    .buttons a{
        padding: 5px 10px;
        background-color: red;
        border-radius: 20px;
        color: white;
        text-decoration: none;
        font-family: 'TightB', sans-serif;
        font-size: 0.7rem;
        font-weight: 700;
    }
    .buttons .arrow{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px;
        border-radius: 100%;
        height: 17px;
        width: 17px;

    }
    @media screen and (max-width: 1024px){
        .heroImageContainer{
            height: 50vh;
    }
    .heroImage{
        width: 90%;
    }
    .titleContainer{
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
    } 
        .title{
        height: auto;
        width: 80%;
    }
    .subtitleContainer p{
        text-align: center;
        width: 80%;
        font-size: 0.8rem;
    }
    }
    @media  screen and (max-width: 768px){
        .heroImageContainer{
            height: 35vh;
    }
    .heroImage{
        width: 100%;
        height: auto;
    }
    
        
        .titleContainer{
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
    } 
        .title{
        height: auto;
        width: 80%;
    }
    .subtitleContainer p{
        text-align: center;
        width: 40%;
        font-size: 0.8rem;
        margin: 0px;
        
    }
    .subtitleContainer{
        margin-top: 20px;
        gap: 20px;
    }
    .buttons{
        padding: 0px;
    }
    }
</style>