<section>
    <div>
        <img src="" alt="">
    </div>
    <div>
        <img src="" alt="">
    </div>
    <div>
        <p>Encendé ese poder que tenés dentro y <strong> HACÉ QUE ARDA. </strong></p>
        <div>
            <a href="">Agenda una reunion conmigo</a>
            <a href="">go</a>
        </div>
    </div>
</section>