<section>
    <div class="paquetesContainer">
        <h2>¿Cómo comparto mi propósito?</h2>
        <h4>A través de charlas, encuentros virtuales o presenciales y conferencias,
            comparto mi mensaje en distintos espacios y con diversos grupos.</h4>
        <div class="paquetes">
            <div>
                <h3>Paquete 1</h3>
                <p>Este paquete incluye...</p>
                <a href="">Comprar</a>
            </div>
            <div>
                <h3>Paquete 2</h3>
                <p>Este paquete incluye...</p>
                <a href="">Comprar</a>
            </div>
            <div>
                <h3>Paquete 3</h3>
                <p>Este paquete incluye...</p>
                <a href="">Comprar</a>
            </div>
        </div>
        <div class="extras">
            <div class="extra">
                <span>
                    SOBREMESA
                </span>
                <h4>Renová tu
                    concepto
                    propio.</h4>
                    <div>
                        <p>Hacé que tus cambios se conviertan en tu estilo
                            aplicamos la actualización de uno mismo.
                            de vida, no en una simple experiencia, para ello
                        </p>
                        <a href="">Comprar</a>
                    </div>
            </div>
            <div class="extra">
                <span>
                    SOBREMESA
                </span>
                <h4>Renová tu
                    concepto
                    propio.</h4>
                    <div>
                        <p>Hacé que tus cambios se conviertan en tu estilo
                            aplicamos la actualización de uno mismo.
                            de vida, no en una simple experiencia, para ello
                        </p>
                        <a href="">Comprar</a>
                    </div>
            </div>

        </div>
    </div>
</section>

<style>
    section{
        margin-top: 100px;
        display: flex;
        justify-content: center;
        background-color: #000000;
        color: #ffffff;
    }
    .paquetesContainer{
        background-color: rgba(255, 255, 0, 0.145);
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h2{
        padding: 0px;
        margin: 0px;
        font-size: 2rem;
        width: 80%;
        background-color: brown;
        text-align: center;
    }
    h4{
        padding: 0px;
        margin: 0px;
        font-size: 1rem;
        width: 70%;
        background-color: green;
        text-align: center;
    }

    .paquetes{
        background-color: rgb(51, 74, 138);
        display: flex;
        width: fit-content;
        
        gap: 20px;
    }
    .paquetes div{
        background-color: red;
        display: flex;
        flex-direction: column;
        height: 400px;


    }
    .extras{
        display: flex;
        flex-direction: column;
        gap: 20px;
        
    }
    .extras div{
        background-color: blue;
        display: flex;
        flex-direction: column;
        height: 150px;
    }
</style>