---
import entrada from '../../public/images/ENTRADA.png'
import platoP from '../../public/images/PLATOPRINCIPAL.png'
import postre from '../../public/images/POSTRE.png'
import { MdArrowOutward } from "react-icons/md";

---

<section id="paquete">
    <div class="paquetesContainer">
        <h2 class="subtituloProposito">¿Cómo comparto <span style={{color: "red", fontFamily: "TightEB"}}>
            mi propósito?
            </span></h2>
        <h4 class="sloganProposito">A través de charlas, encuentros virtuales o presenciales y conferencias,
            comparto mi mensaje en distintos espacios y con diversos grupos.</h4>

        <div class="paquetes">

            <div class="paquete">
                <div class="textoPaquetes">
                    <span>ENTRADA</span>
                    <h4>¿Estás listo para eliminar tu gran excusa?</h4>
                    <p>Eliminá todos tus pretextos,
                        haciéndote cargo de tu vida y
                        decidiendo quien querés ser.</p>
                </div>
                <div class="platoImgContainer">
                    
                    <img src={entrada.src} alt="">
                </div>
                <div class="buttons">
                    <a href="/paquetes/entrada">MÁS INFO</a>
                    <a href="/paquetes/entrada" class="arrow"><MdArrowOutward/></a>
                </div>
            </div>

            <div class="paquete">
                <div class="textoPaquetes">

                    <span>PLATO PRINCIPAL</span>
                    <h4>¿Cuanto
                        vale tu
                        vida?
                    </h4>
                    <p>Emprenderás un viaje interior
                        que fortalecerá tu autoestima,
                        te llevará a una mayor auto
                        comprensión y te permitirá
                        experimentar un profundo
                        amor propio.</p>
                    </div>
                    <div class="platoImgContainer">

                        <img src={platoP.src} alt="">
                    </div>
                    <div class="buttons">
                        <a href="/paquetes/plato_principal">MÁS INFO</a>
                        <a href="/paquetes/plato_principal" class="arrow"><MdArrowOutward/></a>
                    </div>
            </div>

            <div class="paquete">
                <div class="textoPaquetes">
                    <span>POSTRE</span>
                    <h4>¿Vas a
                        hacer
                        realidad
                        tus metas?</h4>
                    <p>Definí tu meta, visualizala con
                            certeza, y aplicá las
                            herramientas que tenés
                            dentro para alinear tu mente y
                            tu energía, llevando tu visión a
                            la realidad.</p>
                </div>
                <div class="platoImgContainer">
                    <img src={postre.src} alt="">
                </div>
                <div class="buttons">
                    <a href="/paquetes/postre">MÁS INFO</a>
                    <a href="/paquetes/postre" class="arrow"><MdArrowOutward/></a>
                </div>
            </div>
        </div>

        <div class="extras">

            <div class="extra sobremesa">
                <span>
                    SOBREMESA
                </span>
                <h4 class="tituloExtra">Renová tu
                    concepto
                    propio.</h4>
                    <div class="textoExtra">
                        <p>Hacé que tus cambios se conviertan en tu estilo
                            aplicamos la actualización de uno mismo.
                            de vida, no en una simple experiencia, para ello
                        </p>
                        <div class="buttons">
                            <a href="/paquetes/renova">MÁS INFO</a>
                            <a href="/paquetes/renova" class="arrow"><MdArrowOutward/></a>
                        </div>
                    </div>
            </div>

            <div class="extra empresa">
                <span>
                    CHARLAS A EMPRESAS
                </span>
                <h4 class="tituloExtra2">¿Querés que tus empleados
                    sean felices trabajando en tu
                    empresa?</h4>
                    <div class="textoExtra">
                        <p>Charlas que inspiran al
crecimiento personal dentro del
ámbito laboral.
                        </p>
                        <div class="buttons">
                            <a href="/paquetes/empresa">MÁS INFO</a>
                            <a href="/paquetes/empresa" class="arrow"><MdArrowOutward/></a>
                        </div>
                    </div>
            </div>

            <div class="slogan">
                <p>
                    Lo que haces te convierte en <span style="color: red;">héroe</span>.
                    <br>
                    
                    Lo que no haces te convierte en <span style="color: red;">cobarde</span>.
                </p>
                    
            </div>

        </div>
    </div>
</section>

<style>
    section{
        margin-top: 180px;
        display: flex;
        justify-content: center;
        background-color: #161616;
        color: #ffffff;
        scroll-margin-top: 80px;
    }
    .paquetesContainer{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .subtituloProposito{
        font-family: 'TightB', sans-serif;
        font-size: 3rem;
        padding: 0px;
        margin: 0px;
        width: 100%;
        
        text-align: center;
    }
    .sloganProposito{
        font-family: 'TightR', sans-serif;
        padding: 0px;
        padding-top: 10px;
        margin: 0px;
        font-size: 0.9rem;
        width: 500px;
        text-align: center;
    }

    .paquetes{
        display: flex;
        width: fit-content;
        gap: 50px;
        padding-top: 40px;
    }
    .paquetes .paquete{
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: fit-content;
        width: 185px;
        border-radius: 25px;
        padding: 20px;
        border: 1px solid white;
    }
    .paquetes .paquete .textoPaquetes{
        display: flex;
        flex-direction: column;
        
        height: 260px;
        
    }
    .paquetes span{
        padding-bottom: 10px;
        margin: 0px;
        font-family: 'TightSB', sans-serif;
        font-size: 0.7rem;

    }
    .paquetes h4{
        
        margin: 0px;
        height: fit-content;
        width: 82%;
        font-size: 1.5rem;
        font-family: 'TightB', sans-serif;

    }
    .paquetes p{
        font-size: 0.8rem;
        font-family: 'TightR', sans-serif;
        margin: 0px;
        padding-top: 10px;
        height: fit-content;
        width: 90%;
    }
    .platoImgContainer{
        position: relative;
        height: 150px;
        overflow: hidden;

    }
    .platoImgContainer img{
        width: 100%;
        object-fit: cover;
        scale: 1.5;

    }
    .extras{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 785px;
        margin-top: 30px;
        
    }
    .extras .extra{
        padding: 0px 30px;
        padding-bottom: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        height: 220px;
        border: 1px solid white;
        border-radius: 25px;
    }

    .sobremesa{
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.718) 5%, rgba(0, 0, 0, 0)), 
        url('../../public/images/FUEGO.jpg');
        background-size: cover;
        background-position: center;
        
    }
    .empresa{
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.874) 5%, rgba(0, 0, 0, 0)), 
        url('../../public/images/empresa.jpg');
        background-size: cover;
        background-position: center;
    }
    
    .extras .extra span{
        padding-top: 15px;
        padding-bottom: 5px;
        font-size: 0.7rem;
        font-family: 'TightB', sans-serif;
    }
    .tituloExtra{
        font-family: 'TightEB', sans-serif;
        font-size: 1.6rem;
        margin: 0px;
        width: 20%;
        
    }
    .tituloExtra2{
        font-family: 'TightB', sans-serif;
        font-size: 1.6rem;
        margin: 0px;
        width: 50%;
        
    }
    
    .textoExtra{
        display: flex;
        justify-content: space-between;
    }
    .textoExtra{
        display: flex;
        justify-content: space-between;
    }
    .textoExtra p{
        font-family: 'TightR', sans-serif;
        font-size: 0.8rem;
        width: 40%;
        display: flex;
    }
    .extras .slogan{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid white;
        border-radius: 20px;
        height: 150px;
        font-family: 'TightSB', sans-serif;
        font-size: 1.5rem;
        
    }
    .extras .slogan p{
        margin: 0px;
        line-height: 1.4;
    }
    .buttons{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0px;
        padding-top: 10px;
    }
    .buttons a{
        padding: 5px 10px;
        background-color: red;
        border-radius: 20px;
        color: white;
        text-decoration: none;
        font-family: 'TightB', sans-serif;
        font-size: 0.7rem;
        font-weight: 700;
    }
    
    .buttons .arrow{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px;
        border-radius: 100%;
        height: 17px;
        width: 17px;

    }
    @media  screen and (max-width: 1024px){
        .paquetesContainer{
            width: 90%;
        }
        .paquetes{
            height: fit-content;
            gap: 20px;
        }
        .paquetes .paquete{
            width: 100%;
            height: 100%;
            gap: 10px;
            box-sizing: border-box;
        }
        .platoImgContainer{

            height: 220px;
        }
        .paquetes .paquete .textoPaquetes{
            height: fit-content;
        }
        
        .extras{
            margin-top: 80px;
            width: 100%;
            
        }
        .extras .extra{
            height: fit-content;
            padding: 20px;
        }
        .tituloExtra{
            width: 100%;
        }
        .tituloExtra2{
            width: 80%;
        }
        .extras .slogan{
            height: fit-content;
            padding: 50px;
        }
        .slogan p{
            font-size: 0.9rem;
        }
        
    }
    @media  screen and (max-width: 768px){
        .subtituloProposito{
            width: 100%;
            font-size: 1.9rem;
        }
        .sloganProposito{
            width: 90%;
            font-size: 0.7rem;
        }
        .paquetesContainer{
            width: 90%;
        }
        .paquetes{
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        .paquetes .paquete{
            width: 100%;
            gap: 10px;
            box-sizing: border-box;
        }
        .paquetes .paquete .textoPaquetes{
            height: fit-content;
        }
        .platoImgContainer{
            display: none;
        }
        .extras{
            margin-top: 80px;
            width: 100%;
            
        }
        .extras .extra{
            height: fit-content;
            padding: 20px;
        }
        .tituloExtra{
            width: 100%;
        }
        .tituloExtra2{
            width: 100%;
        }
        .extras .slogan{
            height: fit-content;
            padding: 50px;
        }
        .slogan p{
            font-size: 0.9rem;
        }
    }
</style>