<section>
    <div>
        <h2>Mi proposito</h2>
        <p>Mi propósito al compartir estas
            charlas es que, a través de ellas,
            puedas descubrir tu propia verdad.
            <br>
            <br>
            Una vez que la encuentres, tu vida
            nunca será la misma: será mejor,
            mejor y cada vez mejor.</p>
            <span>Conocé la verdad y esta te hará libre.</span>
    </div>

</section>

<style>
    section{
        display: flex;
        justify-content: center;
        
        background-color: #000000;
        color: #ffffff;
    }
    div{
        background-color: red;
        display: flex;
        flex-direction: column;
        width: 30%;
    }
    span{
        text-align: center;
    }
</style>