---
import { MdArrowOutward } from 'react-icons/md';

---

<section id="yanina">
    <div class="resultados">
        <p><span style="color: red;">(</span>Técnicas + Prácticas<span style="color: red;">) x (</span>Charlas + Inspiración<span style="color: red;">) = <span style={{fontFamily: 'TightEB, sans-serif' }}>RESULTADOS</span></span></p>
    </div>
    <div class="aboutMe">
        <h2>Yanina Polo</h2>
        <p>Autodidacta en tecnicas y estudios sobre metafisica, neurociencia, fisica cuantica, reprogramacion, leyes mentales, comprobados desde mi experiencia hacia el mundo.</p>
    </div>
    <div class="text">
        <p>La vida es una sola ficha, con muchas
            posibilidades. Es algo tan valioso que
            tenemos, como la oportunidad de
            vivirla. Hoy estás acá, y tu único
            objetivo es vivir y dejar de ser
            cobarde. Hay tanto por disfrutar al
            alcance de cada uno de nosotros... Si
            solo mirás alrededor y sentís...</p>
        <p>Creía tener todo muy claro y sentía
            una fuerza de lobo que se encendía
            dentro mío, sin saber dónde debía
            aplicarla. Al pasar el tiempo, se
            convirtió en un gran conejo blanco
            que representaba las excusas y
            recreaciones que me tenían saltando
            de un lugar a otro, rodeada de
            distracciones, sin llegar a ninguna meta.</p>
        <p>Hoy decidí dejar atrás ese conejo,
            convirtiéndome y dando mi poder a
            ese gran lobo, confiado, invencible,
            feliz y lleno de paz mental, que sabe
            hacia dónde va y confía en su
            camino sin que nada ni nadie lo
            limite.
            <br>
            <br>
            Me encantaría que vos también lo
            descubras... y dejes de ser <br> <strong style={{color: "red", fontFamily: "TightB"}}>COBARDE</strong>.</p>
    </div>
    <div class="finalYanina">
        <h3>Todo se basa en aprender a controlar y
            seleccionar nuestros pensamientos</h3>
        
            <h4>
                Gracias
            </h4>
        </div>
        <span>Que logres ver el valor que tenes dentro a traves de mis palabras es mi mayor servicio.</span>
    
</section>

<style>
    .resultados p{
        font-family: 'TightL', sans-serif;
        font-size: 1.5rem;
        color: white;
        margin-top: 0px;
        margin-bottom: 40px;

    }
    section{
        scroll-margin-top: 80px;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .aboutMe{
        border-top: 1px solid white;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 850px;
        height: 480px;
        color: white;
        background-image: linear-gradient(rgba(0, 0, 0, 0) 80%, #161616), 
                      url('../../public/images/ojos.jpg');
    }
    .aboutMe p{
        width: 32%;
        font-family: 'TightELI', sans-serif;
        color: rgb(255, 255, 255);
        
    }
    .aboutMe h2{
        font-family: 'TightEB', sans-serif;
        font-size: 6rem;
        margin: 0px;
        color: red;
    }
    .text{
        display: flex;
        gap: 20px;
        width: 850px;
        color: white;
    }
    .text p{
        font-family: 'TightR', sans-serif;
        font-size: 1rem;
        width: 80%;
        color: white;
        line-height: 1.4;
    }
    .finalYanina{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .finalYanina h3{
        text-align: center;
        width: 60%;
        font-family: 'TightB', sans-serif;
        font-size: 2rem;
        color: white;
        padding-top: 120px;
        

    }
    
    h4{
        font-family: 'TightEB', sans-serif;
        font-size: 5rem;
        color: white;
        margin: 0px;
        margin-top: 250px;
    }
    span{
        text-align: center;
        width: 25%;
        font-family: 'TightR', sans-serif;
        font-size: 1.1rem;
        color: white;
        margin: 0px;
        margin-bottom: 250px;
    }
    @media screen and (max-width: 1024px){
        .resultados p{

        font-size: 1rem;
        text-align: center;
    }
        .aboutMe{
            width: 90%;
            height: 400px;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
        }
        .aboutMe p{
            width: 100%;
        }
        .text{
            width: 90%;
        

        }
        .text p{;
            width: 100%;
            font-size: 0.8rem;
            margin: 0px;
        }
        .finalYanina h3{
            width: 80%;
        }
        .finalYanina span{
            width: 50%;
        }

        .finalYanina{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .finalYanina h3{
        font-size: 1.2rem;
        color: white;
        padding-top: 100px;
        

    }
    .yaninaImage{
        width: 90%;
        height: 400px;
        background-size: 120%;
        background-position: bottom ;
        background-repeat: no-repeat;
        background-color: #161616;
        
    }
    .yaninaImage h4{
        font-size: 3rem;
    }
    .finalYanina span{
        font-size: 0.8rem;
    }
}
    
    @media screen and (max-width: 768px){
        .aboutMe{
            height: 300px;
        }
        .aboutMe p{
            font-size: 0.7rem;
        }
        .aboutMe h2{
            font-size: 4rem;
        }
        .text{
            flex-direction: column;
            gap: 20px;
        }
        .finalYanina h3{
            width: 80%;
        }
        .finalYanina span{
            width: 50%;
        }

        .finalYanina{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .finalYanina h3{
        font-size: 1rem;
        color: white;
        padding-top: 100px;
        

    }
    .yaninaImage{
        height: 300px;
        background-size: 130%;

        
    }
    .yaninaImage h4{
        font-size: 3.2rem;
    }
    
    }
</style>